<nav class="navbar navbar-static">
  <div class="container">
    <div class="navbar-header"> <a class="navbar-brand" href="/" target="ext"><b class="">White Album</b></a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="glyphicon glyphicon-chevron-down"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse">
    <!--  <ul class="nav navbar-nav">
	<li><a href="#" class="">Link</a>
	</li>
	<li><a href="#" class="">Link</a>
	</li>
	<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Channels</a>
          <ul class="dropdown-menu">
            <li><a href="#" class="">Sub-link</a>
            </li>
            <li><a href="#" class="">Sub-link</a>
            </li>
            <li><a href="#" class="">Sub-link</a>
            </li>
            <li><a href="#" class="">Sub-link</a>
            </li>
          </ul>
	</li>
        </ul> -->
	<ul class="nav navbar-right navbar-nav">
          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
            <ul class="dropdown-menu" style="padding:12px;">
                <form class="form-inline">
                    <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i>
                    </button>
                    <input type="text" class="form-control pull-left" placeholder="Search">
                </form>
            </ul>
	  </li>
          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="#" class="">Login</a>
              </li>
              <li><a href="#" class="">Profile</a>
              </li>
              <li class="divider"></li>
              <li><a href="#" class="">About</a>
              </li>
            </ul>
          </li>
	</ul>
    </div>
  </div>
</nav>
